$app-bg: #171c24;
$component-bg: #222b36;
$grey-text-bg: #7b8794;
$violet-active-text-bg: #688dff;
$border-color: #35404b;
$chart-percentage-color: #28acc0;

$primary-red: #f44336;
$primary-green: #257d20;
