@import "./_colors.scss";

.App {
	.Home {
		.main {
			.content {
				padding: 16px;
				// min-height: 100vh;
				margin-left: 70px;
				width: 100%;
				background-color: $grey-text-bg;
				height: 100%;
			}

			.side-nav-bar.open ~ .content {
				margin-left: 300px;
			}
		}
	}
}
