@import '../../assets/scss/_colors.scss';

.auth-modal {
	width: 550px;
	height: 530px;
	padding: 32px;
	padding-bottom: 24px;
	background-color: #222b36;
	color: rgb(255, 255, 255);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px 0px, rgba(0, 0, 0, 0.5) 0px 3px 4px -2px;
	background-image: none;
	overflow: hidden;

	.title-wrapper {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.custom-col {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			.custom-row {
				h4 {
					color: $violet-active-text-bg;
				}
				h6 {
					color: $grey-text-bg;
					width: 100%;
				}
			}

			svg {
				color: $violet-active-text-bg;
				width: 60px;
				height: 60px;
			}
		}
	}

	form {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 60px;
		padding-bottom: 20px;
		border-bottom: 2px solid #35404b;

		.input {
			border-radius: 16px;
			color: #3c444e;
			width: 100%;
		}

		.icon {
			color: #3c444e;
		}

		.btn {
			margin-top: 30px;
			background-color: rgb(104, 142, 255);
			border-radius: 16px;
		}

		.MuiFormHelperText-root {
			color: $primary-red !important;
		}

		.MuiGrid-root {
			fieldset {
				top: 0px;
				border-color: $grey-text-bg;
				border-radius: 16px;
			}

			input {
				color: $grey-text-bg;
			}

			label {
				background-color: $component-bg;
				padding: 0 8px;
				color: $grey-text-bg;

				&.MuiFormLabel-root.Mui-error {
					color: $primary-red !important;
				}

				&.MuiFormLabel-root.Mui-focused {
					color: $violet-active-text-bg;
				}
			}
		}
	}

	.link {
		color: $grey-text-bg;
		cursor: pointer;
		&:hover {
			color: $violet-active-text-bg;
		}
	}
}

@media (max-width: 650px) {
	.auth-modal {
		width: 400px;

		.title-wrapper {
			.custom {
				&-col {
					svg {
						width: 40px;
					}
				}

				&-row {
					h4 {
						font-size: 25px;
					}

					h6 {
						font-size: 15px;
					}
				}
			}
		}

		form {
			margin-top: 30px;

			div {
				div {
					div {
						&:nth-child(2) {
							flex-grow: 0;
							max-width: 100%;
							flex-basis: 90%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 450px) {
	.auth-modal {
		width: 300px;

		.title-wrapper {
			.custom {
				&-col {
					svg {
						width: 30px;
					}
				}

				&-row {
					h4 {
						font-size: 20px;
					}

					h6 {
						font-size: 12px;
					}
				}
			}
		}

		form {
			div {
				div {
					div {
						&:nth-child(2) {
							flex-basis: 87%;
						}
					}
				}
			}
		}
	}
}
