@import '../../assets/scss/colors';

.content {
	padding-bottom: 200px !important;

	.transaction-edition-wrapper {
		margin-top: 50px;
		width: 90%;

		.title {
			color: $chart-percentage-color;
		}
	}
}
