@import '../../assets/scss/_colors.scss';

header {
	background-color: $component-bg !important;
	color: #7b8794 !important;
	border-color: $grey-text-bg !important;
	box-shadow: none !important;
	display: flex;
	flex-direction: row !important;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 16px;
	position: fixed;
	top: 0;
	left: 0;

	.menuBtn {
		margin-right: 10px;
	}
	.title {
		cursor: pointer;
	}
	.actionBtn {
		margin-left: auto;
	}
	.logoIcon {
		margin-right: 10px;
	}

	@media (max-width: 350px) {
		padding: 0 5px;

		.menuBtn {
			margin-right: 10px;
			// width: 30px;
		}
	}
}
